:root {
	
	/* Colors */

	/* Vview 1 */

	/* Backgrounds */

	--view1-main-background: hsl(222, 26%, 31%);
	--view1-keypad-background: hsl(223, 31%, 20%);
	--view1-screen-background: hsl(224, 36%, 15%);

	--view1-key-background-blue: hsl(225, 21%, 49%);
	--view1-key-shadow-blue: hsl(224, 28%, 35%);

	--view1-key-background-red: hsl(6, 63%, 50%);
	--view1-key-shadow-red: hsl(6, 70%, 34%);

	--view1-key-background-white: hsl(30, 25%, 89%);
	--view1-key-shadow-white: hsl(28, 16%, 65%);
	
	/* Text */

	--view1-grayish-blue: hsl(221, 14%, 31%);
	--white: hsl(0, 0, 100%);

	/* View 2 */

    /* Backgrounds */

    --view2-main-background: hsl(0, 0%, 90%);
    --view2-keypad-background: hsl(0, 5%, 81%);
    --view2-screen-background: hsl(0, 0%, 93%);

        /* Keys */

    --view2-key-background-cyan: hsl(185, 42%, 37%);
    --view2-key-shadow-cyan: hsl(185, 58%, 25%);

    --view2-key-background-orange: hsl(25, 98%, 40%);
    --view2-key-shadow-orange: hsl(25, 99%, 27%);

    --view2-key-background-white: hsl(45, 7%, 89%);
    --view2-key-shadow-white: hsl(35, 11%, 61%);

    /* Text */

    --view2-yellow: hsl(60, 10%, 19%);

    /* View 3 */

    /* Backgrounds */

    --view3-main-background: hsl(268, 75%, 9%);
    --view3-keypad-background: hsl(268, 71%, 12%);
    --view3-screen-background: hsl(268, 71%, 12%);

    /* Keys */

    --view3-key-background-violet: hsl(281, 89%, 26%);
    --view3-key-shadow-violet: hsl(285, 91%, 52%);

    --view3-key-background-green: hsl(176, 100%, 44%);
    --view3-key-shadow-green: hsl(177, 92%, 70%);

    --view3-key-background-purple: hsl(268, 47%, 21%);
    --view3-key-shadow-purple: hsl(290, 70%, 36%);

    /* Text */

    --view3-yellow: hsl(52, 100%, 62%);
    --view3-blue: hsl(198, 20%, 13%);
}



.view-1 {
	background-color: var(--view1-main-background);
	color: var(--view1-key-background-white);
}

.view-1 .display-screen {
	background-color: var(--view1-screen-background);
}

.view-1 .calculator-buttons {
	background-color: var(--view1-keypad-background);
}

.view-1 .calculator-btn .operator-btn,
.view-1 .calculator-btn {
	background-color: var(--view1-key-background-white);
	color: var(--view1-grayish-blue);
	box-shadow: 0px 0.5rem 0px var(--view1-key-shadow-white);
}
    
.view-1 .calculator-btn .delete-btn,
.view-1 .calculator-btn-reset,
.view-1 .calculator-btn-delete {
	background-color: var(--view1-key-background-blue);
	color: var(--view1-key-background-white);
	box-shadow: 0px 0.5rem 0px var(--view1-key-shadow-blue);
}

.view-1 .calculator-btn-result {
	background-color: var(--view1-key-background-red);
	color: var(--view1-key-background-white);
	box-shadow: 0px 0.5rem 0px var(--view1-key-shadow-red);
}

.view-1 .change-view {
	background-color: var(--view1-keypad-background);
}

.view-1 .ball {
	background-color: var(--view1-key-background-red);
}

/* Theme-2 */

.view-2 {
	background-color: var(--view2-main-background);
	color: var(--view2-yellow);
}

.view-2 .display-screen {
	background-color: var(--view2-screen-background);
}

.view-2 .calculator-buttons {
	background-color: var(--view2-keypad-background);
}

.view-2 .operator-btn,
.view-2 .calculator-btn {
	background-color: var(--view2-key-background-white);
	color: var(--view2-yellow);
	box-shadow: 0px 0.5rem 0px var(--view2-key-shadow-white);
}

.view-2 .calculator-btn .delete-btn,
.view-2 .calculator-btn-reset,
.view-2 .calculator-btn-delete {
	background-color: var(--view2-key-background-cyan);
	color: var(--view2-key-background-white);
	box-shadow: 0px 0.5rem 0px var(--view2-key-shadow-cyan);
}

.view-2 .calculator-btn-result {
	background-color: var(--view2-key-background-orange);
	color: var(--view2-key-background-white);
	box-shadow: 0px 0.5rem 0px var(--view2-key-shadow-orange);
}

.view-2 .change-view {
	background-color: var(--view2-keypad-background);
}

.view-2 .ball {
	background-color: var(--view2-key-background-orange);
}

/* View-3 */

.view-3 {
	background-color: var(--view3-main-background);
	color: var(--view3-yellow);
}

.view-3 .display-screen {
	background-color: var(--view3-screen-background);
}

.view-3 .calculator-buttons {
	background-color: var(--view3-keypad-background);
}

.view-3 .calculator-btn {
	background-color: var(--view3-key-background-purple);
	color: var(--view3-yellow);
	box-shadow: 0px 0.5rem 0px var(--view3-key-shadow-purple);
}

.view-3 .operator-btn {
	background-color: var(--view3-key-background-purple) !important;
	color: var(--view3-yellow) !important;
}

.view-3 .calculator-btn-reset,
.view-3 .calculator-btn-delete {
	background-color: var(--view3-key-background-violet);
	color: #fff;
	box-shadow: 0px 0.5rem 0px var(--view3-key-shadow-violet);
}

.view-3 .delete-btn {
	background-color: var(--view3-key-background-violet) !important;
}

.view-3 .calculator-btn-result {
	background-color: var(--view3-key-background-green);
	color: var(--view3-key-background-purple);
	box-shadow: 0px 0.5rem 0px var(--view3-key-shadow-green);
}

.view-3 .change-view {
	background-color: var(--view3-keypad-background);
}

.view-3 .ball {
	background-color: var(--view3-key-background-green);
}



.calculator-container {
	padding: 3%;
	height: 100vh;
}

.header-box {
	width: 100%;
}

.calculator-title {
	margin-top: 1rem;
}

.change-view-box {
	width: 100%;
	justify-content: flex-end;

}

.view-change-title {
	margin-top: 1rem;
	margin-right: 0.5rem;
}

.change-view-counter {
	margin: 5px;
	gap: 2rem;
}

.change-view {
	border-radius: 5rem;
	padding: 3px;
}

.change-view .ball {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	cursor: pointer;
}

.display-screen {
	padding: 0;
	border-radius: 1rem;
	margin: 5% 0;
	min-height: 60px;
}

.results-history-screen {
	max-height: 120px;
	overflow:auto;
	overscroll-behavior: smooth;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	padding: 0.5rem 0 0;
}

.view-2 .display-screen {
	background-color: var(--view2-keypad-background);
}


.view-3 .display-screen {
	background-color: var(--view3-screen-background);
}

.view-1 .results-history-screen {
	background-color: var(--view1-keypad-background);
}

.view-2 .results-history-screen {
	background-color: rgb(221, 218, 218);
}

.view-3 .results-history-screen {
	background-color: var(--view3-key-background-purple);
}

.error-message {
	padding: 0 1rem 0.5rem;
	font-size: small;
	color: hotpink;
}

.view-1 .results-history {
	border-bottom: 0.01rem solid hsl(225, 27%, 23%);
}

.view-2 .results-history {
	border-bottom:1px solid var(--view2-keypad-background);
}

.view-3 .results-history {
	border-bottom: 1px solid var(--view3-main-background);
}

.results-history {
	display: flex;
	width: 100%;
	padding: 0.1rem 0.5rem;
	
}

.results-history .expression {
	width: 60%;
	margin-left: 0.5rem;
}

.results {
	display: flex;
	justify-content: flex-end;
	margin-right: 0.5rem;
	width: 40%;
}

.calculator-input-form {
	margin: 2% 0;
	padding: 0.8rem 0 0.5rem;
}

.calculator-input {
	width: 100%;
	height: 30px;
	padding: 0.3rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	color : #ffff;
	border: none;
	outline: 0;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.view-1 .calculator-input {
	background-color: var(--view1-screen-background);
	color: var(--theme1-key-background-white);
}

.view-2 .calculator-input {
	background-color: var(--view2-keypad-background);
	color: var(--theme2-yellow);
}

.view-3 .calculator-input {
	background-color: var(--view3-screen-background);
	color: var(--theme3-yellow);
}

.calculator-buttons {
  	display: flex;
  	border: none;
  	flex: 1;
  	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	font-size: 1.8rem;
  	font-weight: 700;
  	gap: 1rem;
  	padding: 1.8rem;
  	border-radius: 1rem;
}


.calculator-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;

}

.calculator-btn-icon {
	cursor: pointer;
}

.calculator-btn button {
	border: none;
}

.view-1 .calculator-btn .delete-btn {
	color:#ffff !important;
}

.calculator-btn .delete-btn,
.calculator-btn .operator-btn {
	box-shadow:none !important;
} 

.calculator-btn-reset {
	grid-column: 1/3;
	font-size: 0.8rem;
	
}
.operator-btn {
	font-size: 1rem;
}

.calculator-btn-result {
	grid-column: 3/5;
}

@media (max-width: 980px) {
	html, body {
		width: 100%;
		
	}
}


@media (min-width: 980px) {
	.calculator-container {
		padding: 2%;
	}

	.view-1 .calculator-container {
		border: 1px solid var(--view1-main-background);
	}

	.view-2 .calculator-container {
		border: 1px solid var(--view2-main-background);
	}
	
	.view-3 .calculator-container {
		border: 1px solid var(--view3-main-background);
	}
	
	.calculator-box {
  		margin: 0 30%;
		width: 40%;
	}

	.results-history-screen {
		max-height:100px;
	}

	.calculator-buttons {
		font-size: 2.5rem;
	}

	.calculator-btn-reset {
		font-size: 2rem;
	}

	.calculator-btn-delete {
		font-size: 2rem;
	}
	
}



.App-logo {
	height: 40vmin;
	pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
}
  



.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
  
.App-link {
	color: #61dafb;
}
  
@keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
}